
<div class="container mycontainer">
  <div class="row list-group justify-content-center" style="margin-bottom: 20px;">
      <ul class="list-group">
          <li class="list-group-item list-group-item-danger text-center">
            <h2>Please, you should login to add products in the Cart or the Wishlist!</h2>
          </li>
      </ul>
  </div>
</div>

<div class="container mycontainer">
    <div class="row list-group justify-content-center" style="margin-bottom: 20px;">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">SALE</h5>
                <small>Only Today!</small>
              </div>
              <p class="mb-1">50% on all selected products!</p>
              <small>CODE (78459)</small>
            </a>
    </div>
</div>
  
<div class="container mycontainer">
    <app-wishlist></app-wishlist>
</div>