<div class="container mycontainer">
    <div class="row list-group justify-content-center" style="margin-bottom: 20px;">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">SALE</h5>
                <small>Only Today!</small>
              </div>
              <p class="mb-1">50% on all selected products!</p>
              <small>CODE (78459)</small>
            </a>
    </div>
  </div>
  
  
  <div class="container mycontainer">
  
  
    <div class="row justify-content-center">
      <div class="col-md-6">
          <h2>Welcome back {{customer.firstname}}!</h2>
          <p>Check your new offers today!</p>
          <img class="d-block w-100 vh-50" src="assets/images/offer.jpg" alt="First slide">
        
        <br><br>
        
        <h2>Check your Emails, Notifications & Offers.</h2>
        <ul class="list-group">
          <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
            Inbox
            <span class="badge badge-primary badge-pill">8</span>
          </li>
          <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
           Notifications
            <span class="badge badge-primary badge-pill">25</span>
          </li>
          <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
           Offers
            <span class="badge badge-primary badge-pill">4</span>
          </li>
        </ul>
        
      </div>
  
  
  
  
      <div class="col-md-6">
      
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Your Cart and Wishlist</h2>
            </div>
          </div>
  
          <div class="row"><div class="col-md-12"><app-cart></app-cart></div></div>
          <div class="row"><div class="col-md-12"><app-wishlist></app-wishlist></div></div>
        </div>
  
      </div>
    </div>
  </div>
  
  