<div class="container mycontainer">
    <div class="row list-group justify-content-center" style="margin-bottom: 20px;">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
             <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">SALE</h5>
                <small>Shop now!</small>
             </div>
             <p class="mb-1">50% on all selected products!</p>
             <small>CODE (68972)</small>
          </a>
    </div>
  </div>


<div class="container mycontainer">

    <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="row">

            <h1>Your unsubscription is successfully updated.
                <small>You should register again if you want to have an account by us.</small>
            </h1>
        </div>

        <hr class="colorgraph">

        <div class="row">
            <a href="/register" class="btn btn-success btn-block btn-lg">Register</a>
            
        </div>
    </div>
</div>

<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
</div>

