<div class="container mycontainer">
    <div class="row list-group justify-content-center" style="margin-bottom: 20px;">
  
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">SALE</h5>
                <small>Shop now!</small>
              </div>
              <p class="mb-1">50% on all selected products!</p>
              <small>CODE (78459)</small>
            </a>
    </div>
  </div>


<div class="container mycontainer">

    <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="row">

            <h1>Thanks {{firstname}} {{lastname}} for your registration under the name of {{username}}.
                <small>You can login now or navigate to our home page.</small>
            </h1>
        </div>

        <hr class="colorgraph">

        <div class="row">

            <div class="col-xs-12 col-md-6">
                <a href="/home" class="btn btn-primary btn-block btn-lg">Home</a>
            </div>

            <div class="col-xs-12 col-md-6">
                <a href="/login" class="btn btn-success btn-block btn-lg">Sign In</a>
            </div>

            
        </div>
    </div>
</div>

<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
</div>

