<div class="container mycontainer">
    <div class="row list-group justify-content-center" style="margin-bottom: 20px;">

            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>Buy now</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
        
    </div>
</div>

<div class="container">
  <div class="page-header">
    <h1>{{article}}</h1>      
  </div>    
</div>

<div class="container mycontainer">

    <div class="row justify-content-center">

        <div class="col">
            <app-filter></app-filter> <!-- selector of the component filters -->
        </div>
    
        <div class="col-md-8">
            <router-outlet name='salesub'></router-outlet>
        </div>
    </div>

  </div>


