
<div class="container  mycontainer">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                <h2>Change your password.<small>It is always safe to change it.</small></h2>
                <hr class="colorgraph">

  
                <div class="form-group">
                    <label for="oldpassword" class="title">Old Password</label><span class="star"> *</span>
                    <input type="password" name="oldpassword2" id="oldpassword2" class="form-control input-lg" 
                    [(ngModel)]="oldpassword" #oldpassword2="ngModel" (blur)="checkOldPassword()"
                    [ngClass]="{ 'is-invalid': submitted && oldpassword2.errors }" minlength="5" maxlength="10" required>
                </div>
    
                <div class="form-group">
                    <div class="alert alert-danger" *ngIf="oldpasswordwrong==true">Password is wrong.</div>
                </div>

    
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label for="password2" class="title">Password</label><span class="star"> *</span>
                            <input type="password" name="password2" id="password2" class="form-control input-lg" 
                            [(ngModel)]="password" #password2="ngModel"
                            [ngClass]="{ 'is-invalid': submitted && password2.errors }" minlength="5" maxlength="10" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <label for="password_confirmation" class="title">Confirm Password</label><span class="star"> *</span>
                            <input type="password" name="password_confirmation2" id="password_confirmation2" 
                        
                            class="form-control input-lg" 
                            [(ngModel)]="password_confirmation" #password_confirmation2="ngModel"
                            [ngClass]="{ 'is-invalid': submitted && password_confirmation2.errors }" minlength="5" maxlength="10" required>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="alert alert-danger" *ngIf="submitted && passwordmismatch">Password does not match</div>
                </div>

  
                <hr class="colorgraph">

    
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary btn-block btn-lg">
                </div>
    
            </form>
        </div>
    </div>
    