<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4"
 style="background-color: #504f55;">

  <div class="container text-center text-md-left mt-4" >

    <div class="row justify-content-center mt-4 ml-0">
      <div class="col col-lg-2">

        <h6 class="text-uppercase font-weight-bold text-light">Technou</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;border-color:#536dfe;">
        <p class="text-light">If you want to know more about us, feel free to contact us! Our employees will be enjoyed
          to answer your questions.
        </p>

      </div>

      <div class="col col-lg-2">
        <h6 class="text-uppercase font-weight-bold text-light">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;border-color:#536dfe;">
        <p>
          <a href="#!" class="text-light">Laptops</a>
        </p>
        <p>
          <a href="#!" class="text-light">Printers</a>
        </p>
        <p>
          <a href="#!" class="text-light">Sale Laptops</a>
        </p>
        <p>
          <a href="#!" class="text-light">Sale Printers</a>
        </p>
        <p>
          <a href="#!">Special Offers</a>
        </p>

      </div>

      <div class="col col-lg-2">
        <h6 class="text-uppercase font-weight-bold text-light">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;border-color:#536dfe;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>

      <div class="col col-lg-2">
        <h6 class="text-uppercase font-weight-bold text-light">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;border-color:#536dfe;">
        <p class="text-light">
          Salzburg, Austria
        </p>
        <p class="text-light">Email: noura@example.com</p>
        <p class="text-light">Phone: + 043 66 858 55</p>
      </div>

       <div class="col col-lg-2">
        <h6 class="text-uppercase font-weight-bold text-light">Social Media</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;border-color:#536dfe;">
        <p class="text-light">
          <a class="fb-ic" href="https://www.facebook.com/" target="_blank">
            <i class="fab fa-facebook-f white-text mr-4"></i>
          </a>
        </p>
        <p class="text-light">
          <a class="li-ic" href="https://www.linkedin.com/" target="_blank">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
        </p>
      </div>
    </div>

  </div>

  <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
    <a href="#"> technou.com</a>
  </div>
</footer>
<!-- Footer -->